body {
    background-image: url('../img/bg.jpg');
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
}
#calendar{
    background:rgba(255,255,255,0.5);
}
#header{
    text-align: right;
}
#register_now{
    text-align: left;
    padding-left: 55px;
}
#register_now, a{
    color:#fff;
    font-size: 12px;
    font-weight: lighter;
}
#register_now a:hover{
    color:#fff;
}
#green_strip{
    position: absolute;
    left:0px;
    top:100px;
    height:60px;
    width:100%;
    background:rgba(0,0,0,0.6);
    z-index: -1;
}
#header h3{
    color: #fff;
    font-weight: lighter;
    padding-top:30px;
}
#logo{
    position:absolute;
    top:20px;
}
.container{
    min-width: 960px;
}
#nav{
    margin-left:180px;
    margin-top:10px;
}
#nav a{
    font-size:13px;
    font-weight: lighter;
}
#left_pane{
    background:rgba(255,255,255,0.5);
}
#left_pane a{
    color:#000;
}
#left_pane h5, ul, address{
    padding-left: 10px;
}
#left_pane .input-append input, button{
    margin-left:10px;
}
#pic_slider{
    background:rgba(255,255,255,0.5);
    height:300px;
    color:#fff;
}
.title_bar, .title_bar_brown{
    background-color:#356635;
    height:20px;
    width:auto;
    margin-top:10px;
    padding: 5px 5px;
    color:#fff;
    font-weight: lighter;
}
.msg_body{
    background:rgba(255,255,255,0.7);
    font-size: 12px;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom: 1px;
}
.title_bar_brown{
    background-color:#584838;
}
#new_scholar_form button{
    margin-left: 230px;
}
#footer .msg_body{
    font-size:11px;
    text-align: center;
    padding:10px;
}
#sponsors .msg_body img{
    padding-left:27px;
}
#sponsors .msg_body p{
    color:#808080;
}