body {
    background-image: url('../img/bg.jpg');
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
}
#calendar{
    background:rgba(255,255,255,0.5);
}
#header{
    text-align: right;
}
#download:hover{
	text-decoration:none;
}
#register_now{
    text-align: left;
    padding-left: 55px;
}
#register_now, a{
    color:#fff;
    font-size: 12px;
    font-weight: lighter;
}
#register_now a:hover{
    color:#fff;
}
#green_strip{
    position: absolute;
    left:0px;
    top:100px;
    height:60px;
    width:100%;
    background:rgba(0,0,0,0.6);
    z-index: -1;
}
h3{
    font-weight: lighter;
}
#header .top_heading{
    color: #fff;
    font-weight: lighter;
    padding-top:30px;
    font-size:22px;
}
#logo{
    position:absolute;
    top:0px;
}
.container{
    min-width: 960px;
}
#nav{
    margin-left:180px;
    margin-top:10px;
}
#nav a{
    font-size:13px;
    font-weight: lighter;
}
#left_pane{
    background:rgba(255,255,255,0.5);
}
#left_pane a{
    color:#000;
}
#left_pane h5, ul, address{
    padding-left: 10px;
}
#left_pane .input-append input, button{
    margin-left:10px;
}
#pic_slider{
    background:rgba(255,255,255,0.5);
    height:390px;
    color:#fff;
}
#pic_desc{
    background:rgba(255,255,255,0.5);
    color:#000;
}
#desc{
	border-top:1px solid #000;
	font-weight:bold;
	padding-left:10px;
	padding-right:10px;
}
.title_bar, .title_bar_brown{
    background-color:#356635;
    height:20px;
    width:auto;
    margin-top:10px;
    padding: 5px 5px;
    color:#fff;
    font-weight: lighter;
}
.msg_body{
    background:rgba(255,255,255,0.7);
    font-size: 12px;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom: 1px;
}
.title_bar_brown{
    background-color:#584838;
}
#new_scholar_form button{
    margin-left: 230px;
}
#footer .msg_body{
    font-size:11px;
    text-align: center;
    padding:10px;
}
#sponsors .msg_body img{
    padding-left:27px;
}
#sponsors .msg_body p{
    color:#808080;
}
#register_form input, lable{
    padding:10px;
    margin: 5px;
    font-size:20px;
}
.temp_place_holder{
    background:rgba(255,255,255,0.5);
}

.thumbnails h3, p{
    color:#fff;
    font-weight: lighter;
}
.thumbnails li{
   background:rgba(0,0,0,0.5); 
}

/* CSS Document */
html,body,form{ margin:0px; padding:0px; font-family:Ebrima, Arial, Helvetica, sans-serif; font-size:12px; color:#666; empty-cells:hide;}
table.calendar{border-style: solid; border-width: 1px; border-width:1px; border-color:#666; -moz-box-shadow:0px 0px 4px #CCCCCC; -webkit-box-shadow:0px 0px 4px #CCCCCC; box-shadow:0px 0px 4px #CCCCCC; }
tr.calendar-row  {  }
td.calendar-day  { min-height:80px; position:relative; } * html div.calendar-day { height:80px; }
td.calendar-day:hover  { background:#FFF; -moz-box-shadow:0px 0px 20px #eeeeee inset; -webkit-box-shadow:0px 0px 20px #eeeeee inset; box-shadow:0px 0px 20px #eeeeee inset; cursor:pointer;}
td.calendar-day-np  { background:#eee; min-height:80px; } * html div.calendar-day-np { height:80px; }
td.calendar-day-head {font-weight:bold; text-shadow:0px 1px 0px #FFF;color:#666; text-align:center; width:64px; border-bottom:1px solid #CCC; border-top:1px solid #CCC; border-right:1px solid #CCC; background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed));
background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
div.day-number{padding:6px; text-align:center; }
/* shared */
td.calendar-day, td.calendar-day-np {border-bottom:1px solid #DBDBDB; border-right:1px solid #DBDBDB; font-size:14px;background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));
background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
}


.overday{ color:#164b87; text-shadow:0px 1px 0px #FFF;}
.currentday{background: #6cb7f3 !important;
background: -moz-linear-gradient(top,  #6cb7f3 0%, #388be8 100%) !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6cb7f3), color-stop(100%,#388be8)) !important;
background: -webkit-linear-gradient(top,  #6cb7f3 0%,#388be8 100%) !important;
background: -o-linear-gradient(top,  #6cb7f3 0%,#388be8 100%) !important;
background: -ms-linear-gradient(top,  #6cb7f3 0%,#388be8 100%) !important;
background: linear-gradient(to bottom,  #6cb7f3 0%,#388be8 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cb7f3', endColorstr='#388be8',GradientType=0 ) !important; color:#FFF  !important; font-weight:bold; -moz-box-shadow:0px 0px 18px #1F68BA inset; -webkit-box-shadow:0px 0px 18px #1F68BA inset; box-shadow:0px 0px 18px #1F68BA inset;
}
.currentday:hover{-moz-box-shadow:0px 0px 24px #074080 inset !important; -webkit-box-shadow:0px 0px 24px #074080 inset !important; box-shadow:0px 0px 24px #074080 inset !important;
}
