@charset "utf-8";
/* CSS Document */
body {
	background-color: #4E5869;
	margin: 0;
	padding: 0;
	color: #000;
}
	
ul, ol, dl {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}
a img {
	border: none;
}

a:link {
	color:#414958;
	text-decoration: underline;
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}

.container {
	width: 1280px;
	height:1368px;
	background-image:url(../images/back_2.png);
	margin: 0 auto;
	overflow: hidden;
}

.header{
	clear:left;
	float:left;
	width:1280px;
	height:180px;
	background-image:url(../images/header_back.gif);
}

.content {
	float: left;
	margin-left:175px;
	margin-top:0px;
}
.clearleft{ clear:both; float:left}
.left{float:left}
.blacktext_10{ float:left; font-family:'Arial'; font-size:10px; color:#333}
.blacktext_12{ float:left; margin-left:10px;width:160px; font-family:'Arial'; font-size:12px; color:#333}
.blacktext_15{ float:left; font-family:'Myriad Pro'; font-size:15px; color:#333}
.blacktext_16{ float:left; font-family:'Myriad Pro'; font-size:16px; color:#333}
.blacktext_18{ float:left; font-family:'Myriad Pro'; font-size:18px; color:#333}
.whitetext_10{ float:left; font-family:'Arial'; font-size:10px; color:#fff}
.whitetext_17{ float:left; font-family:'Myriad Pro'; font-size:17px; color:#fff}
.whitetext_bold_24{ float:left; margin-left:20px; font-family:'Myriad Pro'; font-size:24px; font-weight:bold; color:#fff}
.login_pos{clear:both; float:left; margin-left:750px; margin-top:20px;}
.input_textbox{float:left; margin-left:10px; width:110px; height:15px; font-family:'Arial'; font-size:12px;  color:#666}
.sign_btn{ float:left; margin-left:10px; margin-top:2px; width:62px; height:18px; background-image:url(../images/sign_btn.gif); cursor:pointer}
.line_block_1{ clear:left; float:left; margin-left:340px; margin-top:25px}
.line_block_2{ clear:left; float:left; margin-left:300px; margin-top:16px}
.donate_btn{ float:left; margin-left:210px; margin-top:-5px; width:96px; height:29px; background-image:url(../images/donate_btn.gif); cursor:pointer}

.top_menu{
	float:left;
	margin-left:30px;
	padding:5px;
	font-family:'Myriad Pro';
	font-size:16px;
	color:#FFF;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-color:#132214;
	cursor:pointer
}
.top_menu:hover{ color:#132214; background-color:#FFF}

.date_block{
	float:left;
	margin-left:10px;
	width:200px;
	height:255px;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#4cffffff', EndColorStr='#4cffffff');
	background-color:rgba(255,255,255,0.5);
	}
	
.green_block{
	clear:both;
	float:left;
	width:681px;
	height:39px;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#4c1d2b16', EndColorStr='#4c1d2b16');
	background-color:rgba(29,43,22,0.5);
	}
.textbox_back{
	font-family:'Arial';
	font-size:14px;
	color:#000;
	width:674px;
	height:323px;
	line-height:25px;
	overflow:auto;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#4cffffff', EndColorStr='#4cffffff');
	background-color:rgba(255,255,255,0.5);
}

.left_bottom_block{
	clear:both;
	float:left;
	margin-left:10px;
	margin-top:10px;
	width:200px;
	height:740px;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#4cffffff', EndColorStr='#4cffffff');
	background-color:rgba(255,255,255,0.5);
}

.iten_link_1{ float:left; margin-left:10px; width:39px; height:38px; background-image:url(../images/item_image1.gif); cursor:pointer}
.iten_link_2{ float:left; margin-left:10px; width:39px; height:38px; background-image:url(../images/item_image2.gif); cursor:pointer}
.iten_link_3{ float:left; margin-left:10px; width:39px; height:38px; background-image:url(../images/item_image3.gif); cursor:pointer}
.iten_link_4{ float:left; margin-left:10px; width:39px; height:38px; background-image:url(../images/item_image4.gif); cursor:pointer}

.cut_line{ clear:both; float:left; margin-left:20px; margin-top:2px; width:144px; height:5px ; background-image:url(../images/line.gif)}
.three_image{clear:both; float:left; margin-left:20px; width:6px; height:10px; background-image:url(../images/three.gif); cursor:pointer}
.enter_email{ float:left;width:134px; height:23px; background-image:url(../images/enter_email.gif); cursor:pointer}
.join_email{ float:left; margin-left:10px; width:44px; height:22px; background-image:url(../images/join.gif); cursor:pointer}


.footer{ clear:both; float:left; margin-left:175px; margin-top:10px;}
.footertext_12{ float:left; margin-left:140px; margin-top:12px; font-family:'Arial'; font-size:12px; color:#333}
.footerimg_1{ float:left; margin-left:45px; margin-top:20px; width:196px; height:48px; background-image:url(../images/footer_img1.gif); cursor:pointer}
.footerimg_2{ float:left; margin-left:10px; margin-top:20px; width:196px; height:48px; background-image:url(../images/footer_img2.gif); cursor:pointer}
.footerimg_3{ float:left; margin-left:10px; margin-top:20px; width:196px; height:48px; background-image:url(../images/footer_img3.gif); cursor:pointer}
.footerimg_4{ float:left; margin-left:10px; margin-top:20px; width:196px; height:48px; background-image:url(../images/footer_img4.gif); cursor:pointer}