body {
    background-image: url('../img/bg.jpg');
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
}

a:hover {
    color:#fff;
    text-decoration: none;
}

/* Calendar */
table.calendar{border-style: solid; border-width: 1px; border-width:1px; border-color:#666; -moz-box-shadow:0px 0px 4px #CCCCCC; -webkit-box-shadow:0px 0px 4px #CCCCCC; box-shadow:0px 0px 4px #CCCCCC; }
tr.calendar-row  {  }
td.calendar-day  { min-height:80px; position:relative; } * html div.calendar-day { height:80px; }
td.calendar-day:hover  { background:#FFF; -moz-box-shadow:0px 0px 20px #eeeeee inset; -webkit-box-shadow:0px 0px 20px #eeeeee inset; box-shadow:0px 0px 20px #eeeeee inset; cursor:pointer;}
td.calendar-day-np  { background:#eee; min-height:80px; } * html div.calendar-day-np { height:80px; }
td.calendar-day-head {font-weight:bold; text-shadow:0px 1px 0px #FFF;color:#666; text-align:center; width:64px; border-bottom:1px solid #CCC; border-top:1px solid #CCC; border-right:1px solid #CCC; background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed));
background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
div.day-number{padding:6px; text-align:center; }
/* shared */
td.calendar-day, td.calendar-day-np {border-bottom:1px solid #DBDBDB; border-right:1px solid #DBDBDB; font-size:14px;background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));
background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
}


.overday{ color:#164b87; text-shadow:0px 1px 0px #FFF;}
.currentday{background: #6cb7f3 !important;
background: -moz-linear-gradient(top,  #6cb7f3 0%, #388be8 100%) !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6cb7f3), color-stop(100%,#388be8)) !important;
background: -webkit-linear-gradient(top,  #6cb7f3 0%,#388be8 100%) !important;
background: -o-linear-gradient(top,  #6cb7f3 0%,#388be8 100%) !important;
background: -ms-linear-gradient(top,  #6cb7f3 0%,#388be8 100%) !important;
background: linear-gradient(to bottom,  #6cb7f3 0%,#388be8 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cb7f3', endColorstr='#388be8',GradientType=0 ) !important; color:#FFF  !important; font-weight:bold; -moz-box-shadow:0px 0px 18px #1F68BA inset; -webkit-box-shadow:0px 0px 18px #1F68BA inset; box-shadow:0px 0px 18px #1F68BA inset;
}
.currentday:hover{-moz-box-shadow:0px 0px 24px #074080 inset !important; -webkit-box-shadow:0px 0px 24px #074080 inset !important; box-shadow:0px 0px 24px #074080 inset !important;
}

/* GREEN STRIP ****************************/
#green_strip{
    position: absolute;
    left:0px;
    top:130px;
    height:60px;
    width:100%;
    background:rgba(0,0,0,0.6);
    z-index: -1;
}

/* CLASSES **********************************/
.opacity-5{background:rgba(0,0,0,0.5);}
.opacity-7{background:rgba(0,0,0,0.7);}
.opacity-9{background:rgba(15, 8, 5, 0.88);}
.opacity-9{background:rgba(15, 8, 5, 0.88);}
.opacity-10{background:rgba(255, 255, 255, 0.5);}
.brown{color:#20180C}
.white{color:#fff;}
.lighter{font-weight:lighter;}
.heading1{font-weight: lighter; font-size:22px;}
.heading2{font-weight: lighter; font-size:16px;}
.heading3{font-weight: bold; font-size:16px; color:#F0C586;}
.font-13{font-size: 13px;}
.font-12{font-size: 12px;}
.padding-all-5{padding:5px;}
.padding-all-10{padding:20px;}
.bg-white{background-color:#fff;}
.bg-black{background-color:#000;}

.title_bar_white{
    background-color:#fff;
    height:20px;
    width:auto;
    padding: 5px 5px;
    text-shadow:0px 1px #CAA97C;
    color:#51300a;
}
.tableOne{
    text-align: left;
    width:100%;
}
.tableOne th{
    color:#fff;
    padding:6px;
    background-color:#000;
    font-weight: lighter;
    font-size:18px;
}
.tableOne tr{
    border-bottom: #ccc 1px solid;
    cursor: pointer;
}
.tableOne tr:hover{
    background:rgba(0,0,0,1.0);
}
.tableOne td{
    color:#fff;
    padding:3px;    
}

/* TOP LOGO *********************************/
#top_logo{
    margin-top: 30px;
}

/* TOP HEADING *****************************/
#top_heading{
    margin-top: 150px;
    color:#fff;
    font-weight: lighter;
    font-size:20px;
}

/*DONATE BTN *******************************/
#donate_btn{
    margin-left: 444px;
    margin-top:29px;
}

/*TOP NAV *********************************/
#top_nav{
    margin-left: 47px;
}

/*LEFT PANE *******************************/

#left_pane{
    padding-top:30px;
}

#left_pane hr {
    border-bottom:0px solid #fff;
    line-height:3px;
}
#left_pane h5, #left_pane p{
    padding:0px 5px;
}

#left_pane p{
    font-size: 12px;
    line-height: 12px;
}

.margin-bottom-5{
    margin-bottom:5px;
}
.file-hover:hover{
    background:rgba(77, 46, 5, 0.69);
    cursor:crosshair;
}