/*
### Fruit Theme - Custom Style by Vanillaskins Copyright 2013
### Visit us for premium themes: www.vanillaskins.com
### Contact us: sales@vanillaskins.com
###
## Follow us here: https://www.facebook.com/VanillaSkins
## ... and there: https://twitter.com/VanillaSkins
### Let's go!
*/

html {
	overflow-y: scroll;
	}
#Frame {
	margin:0 auto;
	background-color:#f2f2f2;
	min-height:600px;
	}
#Body{
	width: 980px;
	}
body {
	background-color:#efefef;
	text-align:left;
	font-size:100%;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	}

/*Alternative if you want colored background for content #Content {background-color:#fff;}*/
#Head h1 a span {
    color: #84ab00;
    font-size: 36px;
	margin-left:10px;
	text-shadow: 0 1px 0.5px #000;
	font-weight:bold;
	font-family: 'Gloria Hallelujah', sans-serif;
	position: absolute;
	left: 50px;
}
#Head h1 a span:hover {
	color:#84ab00
	}
#Head .inner img {
	display:inline;
	display: block;
    position: absolute;
    top: 20px;
	}
#Head {
	background-color: #444444;
    border-bottom: 1px solid #151515;
    display: block;
    position: relative;
	padding: 0;
}
#topBar {
    height: 4px;
    width: 100%;
	background-color:#212121;
	border-bottom:1px solid #4f4f4f;
}
#Foot #bottomBar {
    height: 4px;
    width: 100%;
	background-color:#000;
	border-bottom:1px solid #4f4f4f;
	border-top:1px solid #444444;
	position:absolute;
	top:-30px;
}
body #Head .inner h1 {
    border: 0 none;
    display: inline-block;
    padding: 10px 10px 4px 0;
	margin-top:20px;
	height:60px;
	margin-left:40px;
}
body #Head .inner {
	width:980px;
	margin: 0 auto;
	position:relative;
	}
body #Head .sShow {
	float:right;
	margin-right:10px;
	margin-top:40px;
	padding:6px 12px;
	background: -moz-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
	background: -webkit-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
	background: -o-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
	background-color:#84ab00;
    border-bottom: 1px solid #4D0000;
    text-decoration: none;
	height:22px;
	line-height:22px;
	vertical-align:middle;
	}
body #Head .sShow a {color: #FFFFFF;}
body #Head .sShow:hover {
	background: -moz-linear-gradient(#3e8012, #366715) repeat scroll 0 0 #30392b;
	background: -webkit-linear-gradient(#3e8012, #366715) repeat scroll 0 0 #30392b;
	background: -o-linear-gradient(#3e8012, #366715) repeat scroll 0 0 #30392b;
    border-bottom: 1px solid #001F74;
	background-color:#3e8012;
    color: #FFFFFF;
    text-decoration: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}
#Menu {
    display: inline-block;
    margin-right: 280px;
    margin-top: 3px;
    vertical-align: bottom;
}
.Menu {
	height:40px;
	}
#Menu a {
	padding:4px 7px;
	font-size: 15px;
	}
.menuBg {
background-color: #333333;
    border-bottom: 1px solid #444444;
    border-top: 1px solid #383838;
    box-shadow: 0 2px 0 0 #262626, 0 -1px 0 0 #171717;
	-o-box-shadow: 0 2px 0 0 #262626, 0 -1px 0 0 #171717;
	-moz-box-shadow: 0 2px 0 0 #262626, 0 -1px 0 0 #171717;
	-webkit-box-shadow: 0 2px 0 0 #262626, 0 -1px 0 0 #171717;
    display: block;
    margin-bottom: 1px;
    position: relative;
    z-index: 3100;
}

#Menu a:hover {
	background: -moz-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
	background: -webkit-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
	background: -o-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
    border-bottom: 1px solid #4D0000;
    color: #FFFFFF;
    text-decoration: none;
}
#Menu li {
	font-weight:normal;
	}
body #Head form {
    border-radius: 25px 25px 25px 25px;
    height: 33px;
    position: relative;
	box-shadow: 2px 2px 1px #212121 inset;
	-o-box-shadow: 2px 2px 1px #212121 inset;
	-moz-box-shadow: 2px 2px 1px #212121 inset;
	-webkit-box-shadow: 2px 2px 1px #212121 inset;
}
body #Head form input.InputBox {
    border-radius: 0 0 0 0;
    height: 22px;
    left: 10px;
    padding: 2px;
    position: absolute;
    text-align: left;
    top: 5px;
    width: 180px;
	background-color:#666666;
	color:#cccccc;;
	/* OPTIONAL text-shadow:1px 1px 0.5px #000000;*/
}
body #Head form input.Button {
    background: url("images/zoomsprite.png");
	background-position:0px 0px;
	width:23px;
	height:23px;
    border-radius: 0 0 0 0;
    display: inline-block;  
    left: 221px;
    margin: 0;
    overflow: hidden;
    padding: 23px 0 0;
    position: absolute;
    top: 5px;
}
body #Head form input.Button:hover {
    background: url("images/zoomsprite.png");
	background-position:0px -23px;
	}
#Head form {
    background: none repeat scroll 0 0 #666666;
    float: right;
    margin: 15px 0 0;
    padding: 0;
    width: 250px;
}
input.Button {
	box-shadow:none;
	}
#Head .Search, #Head #Search {
    bottom: 3px;
	}
.DataList a.Title {font-size: 18px;}

/*popups*/
div.Popup h1, div.Popup h2 {
    background: none repeat scroll 0 0 #232323;
    border-bottom: 1px solid #151515;
	}
/*end*/

#Foot {
	background-color: #333333;
    border-bottom: 1px solid #444444;
    border-top: 1px solid #383838;
    box-shadow: 0 2px 0 0 #262626, 0 -1px 0 0 #171717;
	-o-box-shadow: 0 2px 0 0 #262626, 0 -1px 0 0 #171717;
	-moz-box-shadow: 0 2px 0 0 #262626, 0 -1px 0 0 #171717;
	-webkit-box-shadow: 0 2px 0 0 #262626, 0 -1px 0 0 #171717;
    color: #8F887C;
	padding:0;
	height:220px;position:relative;overflow:hidden;}
#Foot div {
	width:980px;
	padding:4px 0;
	}
.footmain {
	width: 980px;
	height: 140px;
	position: relative;
	}
.footleft {
	float: left;
	width: 199px !important;
	height: 140px;
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 0 !important;
	border-right: 1px solid #444444;
	}
#Foot .footright {
	float: left;
	position: absolute;
	top: 0px;
	left: 200px;
	height: 140px !important;
	margin: 0 !important;
	width: 240px !important;
	border-left: 1px solid #212121;
	border-right: 1px solid #444444;
	padding: 0 0 0 20px;
	}
#Foot .footfarright {
	float: left;
	position: absolute;
	top: 0px;
	left: 460px;
	height: 140px !important;
	border-left: 1px solid #212121;
	margin: 0 !important;
	width: 500px !important;
	}
.footleft h3 {
	font-size: 28px;
	color: #84ab00;
	font-family: 'Gloria Hallelujah', sans-serif;
	text-shadow: 1px 1px 1px #212121;
	}
.footright h3 {
	font-size: 28px;
	color: #84ab00;
	font-family: 'Gloria Hallelujah',sans-serif;
	margin-left: 10px;
	text-shadow: 1px 1px 1px #212121;
	}
.footfarright h3 {
	font-size: 28px;
	color: #84ab00;
	font-family: 'Gloria Hallelujah',sans-serif;
	text-shadow: 1px 1px 1px #212121;
	margin: 0 0 15px 30px;
	}
.footleft ul {
	margin-top: 10px;
	margin-left: 12px;
	}
.footright ul {
	margin-top: 10px;
	margin-left: 22px;
	}
.footleft ul li a, .footright ul li a {
	color:#8F887C;
	font-size: 13px;
	line-height: 15px;
	-moz-transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	}
.footleft ul li a:hover, .footright ul li a:hover{
	color:#3e8012 !important;
	text-decoration:none;
	}
#footlist li, #sociallist li {
	list-style-type: circle;
	line-height: 21px;		
	}
.Foot {
	background-color:#f2f2f2;
	background:#f2f2f2;
	border-bottom: 1px solid #dedede;
	padding-bottom: 110px;
	}
#Status {
	background-color:#f2f2f2;
	background:#f2f2f2;
	}

/*now we customise the forums */
body.Entry li.Buttons input.Button, .SignInPopup li.Buttons input.Button {
    margin: 10px 0;
	background: -moz-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
	background: -webkit-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
	background: -o-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
    border-bottom: 1px solid #4D0000;
	color:#fff;
	text-shadow:none;
	border:none;
	border-radius:0;
}
body.Entry li.Buttons input.Button:hover, .SignInPopup li.Buttons input.Button:hover {
	background: -moz-linear-gradient(#3e8012, #366715) repeat scroll 0 0 #30392b;
	background: -webkit-linear-gradient(#3e8012, #366715) repeat scroll 0 0 #30392b;
	background: -o-linear-gradient(#3e8012, #366715) repeat scroll 0 0 #30392b;
}
a.Close {color:#84ab00;}
a.Close:hover {color:#3e8012;}
a {color:#84ab00;}
a:hover {color:#3e8012;}
body.Entry #Content {
    width: 760px;
    margin-bottom: 40px;
	}
.left {
    float: left;
    width: 320px;
	}
.right {
    float: left;
    margin-left: 20px;
    width: 320px;
	}
body.Entry #Content h1 {
	color:#3e8012;
	}
.Meta .Announcement {font-size: 12px; letter-spacing: 1px;}

/*Discussion post */
#DiscussionForm form {
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 0px;
    margin: 0;
    padding: 20px;
}
#vanilla_post_discussion #DiscussionForm .Button {
	background: -moz-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
	background: -webkit-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
	background: -o-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
    border-bottom: 1px solid #4D0000;
	color:#fff;
	text-shadow:none;
	border:none;
	border-radius:0;
}
#vanilla_post_discussion #DiscussionForm .Button:hover {
	background: -moz-linear-gradient(#3e8012, #366715) repeat scroll 0 0 #30392b;
	background: -webkit-linear-gradient(#3e8012, #366715) repeat scroll 0 0 #30392b;
	background: -o-linear-gradient(#3e8012, #366715) repeat scroll 0 0 #30392b;
}
/*Preview Post*/
.MessageForm, .Tabs, .Headings {
    background: none repeat scroll 0 0 #f2f2f2;
    border-bottom: 1px solid #dedede;
    display: block;
    margin: 0;
    padding: 5px 8px;
    position: relative;
}
.Mine {background: none repeat scroll 0 0 #f2f2f2;}
.MessageList .Item {
    border-bottom: 2px solid #dedede;
    padding: 10px 10px 4px;
	background-color: transparent;
}
.Item .Author img {
	-moz-border-radius: 20px; 
   -webkit-border-radius: 20px; 
   border-radius: 20px;
    background: none repeat scroll 0 0 #ffffff;
    border-color: #84ab00 #84ab00 #84ab00 #84ab00;
    border-style: solid;
    border-width: 2px;
    box-shadow: -5px 5px 5px rgba(182, 182, 182, 0.75);
	-o-box-shadow: -5px 5px 5px rgba(182, 182, 182, 0.75);
	-moz-box-shadow: -5px 5px 5px rgba(182, 182, 182, 0.75);
	-webkit-box-shadow: -5px 5px 5px rgba(182, 182, 182, 0.75);
    padding: 0px;
    vertical-align: middle;
    float: left;
    height: 40px;
    margin: 0 10px 0 0;
    overflow: hidden;
    width: 40px;

}
.TabLink, .TabLink:link, .TabLink:active, .TabLink:visited {
    background: -moz-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
	background: -webkit-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
	background: -o-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
    border-bottom: 1px solid #4D0000;
	color:#fff;
    display: inline;
    font-weight: bold;
    line-height: 2.6;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
    white-space: nowrap;
	text-shadow:none;
	border:none;
	border-radius:0;
	background-color:#84ab00;
}
.TabLink:hover {
    background: -moz-linear-gradient(#3e8012, #366715) repeat scroll 0 0 #30392b;
	background: -webkit-linear-gradient(#3e8012, #366715) repeat scroll 0 0 #30392b;
	background: -o-linear-gradient(#3e8012, #366715) repeat scroll 0 0 #30392b;
	background-color:#3e8012;
}
.Active .TabLink {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #474747;
}
.Author a {color:#212121;}
.Author a:hover {color:#3e8012;}
.Buttons .Button{
	background: -moz-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
	background: -webkit-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
	background: -o-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
    border-bottom: 1px solid #4D0000;
	color:#fff;
    border-radius: 0;
	border:none;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    margin: 0;
    padding: 4px;
    text-shadow: none;
    white-space: nowrap;
	}
.Buttons .Button:hover{
	background: -moz-linear-gradient(#3e8012, #366715) repeat scroll 0 0 #30392b;
	background: -webkit-linear-gradient(#3e8012, #366715) repeat scroll 0 0 #30392b;
	background: -o-linear-gradient(#3e8012, #366715) repeat scroll 0 0 #30392b;
	border:none;
	box-shadow:none;
	color:#fff;
	}
.Tabs li a span {
    background: none repeat scroll 0 0 #333333;
    border-radius: 10px;
    color: #fff;
	font-weight:100%;
	font-weight:bold;
	}
.Preview {
    background: none repeat scroll 0 0 #666666;
    margin: 4px 0 8px;
    padding: 1px 8px;
    text-align: left;
	color:#fff;
	-moz-transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
}
/*profile*/
body.Profile #Panel {
    float: left;
    width: 230px;
}
#Panel .Photo {
	width:230px;
	height:120px;
	background-color:#f2f2f2;
	}
#Panel .Photo img {
	 background: none repeat scroll 0 0 #ffffff;
	-moz-border-radius: 50px; 
   -webkit-border-radius: 50px; 
   border-radius: 50px;
    border-color: #84ab00 #84ab00 #84ab00 #84ab00;
    border-style: solid;
    border-width: 2px;
    box-shadow: -5px 5px 5px rgba(182, 182, 182, 0.75);
	-o-box-shadow: -5px 5px 5px rgba(182, 182, 182, 0.75);
	-moz-box-shadow: -5px 5px 5px rgba(182, 182, 182, 0.75);
	-webkit-box-shadow: -5px 5px 5px rgba(182, 182, 182, 0.75);
    padding: 0px;
    vertical-align: middle;
    float: left;
    height: 100px;
    margin: 0 10px 10px 60px;
    overflow: hidden;
    width: 100px;
	}
.DataList .Item {
	border-color: -moz-use-text-color -moz-use-text-color #dedede;
	padding: 6px 0 4px 0;	
	}
.PanelInfo li {
	background: none repeat scroll 0 0 #f2f2f2;
	background-color:#f2f2f2;
    border-bottom: 0 none;
	}
body.Profile .PanelInfo {
    border-bottom: 0 none;
}
.PanelInfo {
    border-bottom: 0 none;
    border-top: 0 none;
}

body.Profile #Panel {border-right:1px solid #dedede;}
.Count {
    background: none repeat scroll 0 0 #333333;
    border-radius: 0px;
    color: #FFFFFF;
    font-size: 80%;
    font-weight: normal;
    padding: 1px 0.8ex;
}
a.BigButton {
    background: -moz-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
	background: -webkit-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
	background: -o-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
    border:none;
	color:#fff;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 8px 0;
    text-align: center;
    text-shadow: none;
}
a.BigButton:hover {
    background: -moz-linear-gradient(#3e8012, #366715) repeat scroll 0 0 #30392b;
	background: -webkit-linear-gradient(#3e8012, #366715) repeat scroll 0 0 #30392b;
	background: -o-linear-gradient(#3e8012, #366715) repeat scroll 0 0 #30392b;
	border:none;
    box-shadow: none;
    color: #ffffff;
}
a.BigButton:focus {
    background: none repeat scroll 0 0 #333333;
    box-shadow: none;
}
.MainForm a.Button, .MainForm .Button {background:none;background-color:#84ab00;}
.MainForm a.Button:hover, .MainForm .Button:hover {background:none;background-color:#84ab00;}


#Panel .Box h4 {
    background-color: #84ab00;
    color: #FFFFFF;
    font-size: 100%;
    font-weight: normal;
    line-height: normal;
    padding: 10px 15px;
}
#Panel .Box .PanelInfo li.Active {
  background-color: #e0dfda;
}
#Panel .Box .PanelInfo li.Depth2 {
  padding-left: 25px;
}
#Panel .Box .PanelInfo li.Depth3 {
  padding-left: 35px;
}
#Panel .Box .PanelInfo li.Depth4 {
  padding-left: 45px;
}
#Panel .GuestBox {
  padding-bottom: 15px;
  border: 1px solid #ededed;
}
#Panel .GuestBox p {
  padding: 0 15px;
}
#Panel {
  width: 250px;
  padding-right: 0px;
  padding-top: 30px;
  position: relative;
}
.Box {
	background: none;
	box-shadow: none;
}
#Panel .Box {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  -o-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  background-color: #fafafa;
  padding: 0;
  margin-bottom: 30px;
  }
  #Panel .Box p {
}
#Panel .Box a {
  color: #84ab00;
}
#Panel .Box a:hover {
  color: #212121;
}
#Panel .Box a.Button {
  color: #fff;
}
#Panel .Box h4 {
  background-color: #84ab00;
  color: #fff;
  font-weight: normal;
  padding: 10px 15px;
  line-height: normal;
  font-size: 100%;
}
#Panel .Box h4 a {
  color: #fff;
}
#Panel .Box .PanelInfo {
  border-bottom: 1px solid #ededed;
  border-top: none;
}
#Panel .Box .PanelInfo li {
  font-size: 87.5%;
  background: transparent;
  border-top: 1px solid #ededed;
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
  border-bottom: none;
  padding: 8px 15px 8px;
  line-height: normal;
  font-weight: normal;
  vertical-align: bottom;
}
#Panel .Box .PanelInfo li:hover {
	background-color:#f2f2f2;}
#Panel .Box .PanelInfo li strong {
  line-height: normal;
}
#Panel .Box .PanelInfo li .Meta {
  margin-top: 7px;
}
#Panel .Box .PanelInfo li span.Count {
  display: inline-block;
  border: none;
  background-color: #84ab00;
  padding: 2px 5px;
  text-align: center;
  min-width: 25px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 86%;
  vertical-align: text-top;
  margin-top: -3px;
  color:#fff;
}
.Activities .Excerpt a, .Activities .Meta a {
    color: #84ab00;
}
.Activities .Excerpt a:hover, .Activities .Meta a:hover {
    color: #3e8012;
}
.Box dl dt {
	margin-left:10px;
}

.ac_over strong {
    background: none repeat scroll 0 0 #84ab00;
    font-weight: bold;
}
.ac_over {
    background: none repeat scroll 0 0 #232323;
    color: #FFFFFF;padding:2px 4px;
}
#MessageForm {
    background: none repeat scroll 0 0 #f2f2f2;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 1px 0 0;
    padding: 4px 8px 8px;
}
.MessageForm .Tabs .NoTab a, .Button, a.Button, a.Button:active, a.Button:visited {
    background: -moz-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
	background: -webkit-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
	background: -o-linear-gradient(#84ab00, #668f05) repeat scroll 0 0 #3c8005;
    border: medium none;
    box-shadow: none;
    color: #FFFFFF;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 88%;
    font-weight: normal;
    padding: 7px 10px;
    text-shadow: none;
	border-radius:0;
}
.MessageForm .Tabs .NoTab a:hover, .Button:hover, a.Button:hover, a.Button:active:hover, a.Button:visited:hover {
    background: -moz-linear-gradient(#3e8012, #366715) repeat scroll 0 0 #30392b;
	background: -webkit-linear-gradient(#3e8012, #366715) repeat scroll 0 0 #30392b;
	background: -o-linear-gradient(#3e8012, #366715) repeat scroll 0 0 #30392b;
    border: medium none;
    box-shadow: none;
    color: #FFFFFF;
    text-shadow: 0 0 0 transparent;
}

#ConversationForm form {
    background: none repeat scroll 0 0 #f2f2f2;
    border-radius: 0px;
    margin: 0;
    padding: 20px;
    text-align: right;
}
#Menu a span, #Menu li.Active a span, #Menu li.Highlight a:hover span {
    background: none repeat scroll 0 0 #84ab00;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    line-height: 12px;
    padding: 0 2px;
    text-shadow: none;
}
/*tagging over rides */
li.token-input-token {
    background-color: #84ab00;
    border: none;
    border-radius: 0px;
    color: #fff;
    font-size: 12px;
}
li.token-input-token:hover {
    background-color: #3e8012;
	}
li.token-input-token span {
    color: #fff;
}
li.token-input-token span:hover {
    color: #000;
}
/*end*/
.Preview .Message, .Preview .Message p, .MessageList .Message, .MessageList .Message p {
    margin: 8px 0;
	padding-top:8px;
}

.P {margin:10px;}
.Tabs .SubTab {
	background: none repeat scroll 0 0 #f2f2f2;
    border-radius: 0px;
	}
.SubTab a {
    color: #333333;
    font-weight: bold;
    font-size: 22px;
}
/*nillablog css changes*/
ul.Discussions li.Item.NillaBlog {
    border: none;
    border-radius: 0px;
    box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
    margin: 14px 0 25px;
    padding: 8px 0;
	border-bottom: 1px solid #DEDEDE;   
}
.NillaBlog.Mine {
    background: none repeat scroll 0 0 #fff;
}
ul.MessageList li.Item.FirstComment.NillaBlog {
	border-radius:0px;
	border-color: -moz-use-text-color #dedede #dedede;
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
	}
div.Tabs.HeadingTabs.FirstPage {
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
	border-color: #dedede #dedede -moz-use-text-color;
	}
.NillaBlog .RSS img {
    -moz-transform: none;
    border: 0 none;
    box-shadow: none;
    height: 14px;
    margin-right: 4px;
    padding: 0;
    width: 14px;
	}
/*fix for scrunched up message count and time in profile footer */
.MetaItem {
	margin-left:10px;
	}
/*indexphotos changes */
ul.Discussions li img {
    float: left;
	-moz-border-radius: 20px; 
   -webkit-border-radius: 20px; 
   border-radius: 20px;
    height: 40px;
    width: 40px;
    border-color: #84AB00;
	padding: 0px;
	border-style: solid;
    border-width: 2px;
	box-shadow: -5px 5px 5px rgba(182, 182, 182, 0.75);
	-o-box-shadow: -5px 5px 5px rgba(182, 182, 182, 0.75);
	-moz-box-shadow: -5px 5px 5px rgba(182, 182, 182, 0.75);
	-webkit-box-shadow: -5px 5px 5px rgba(182, 182, 182, 0.75);
	background: none repeat scroll 0 0 #ffffff;
}
/*whosonline changes*/
.PhotoGridSmall img {
	-moz-border-radius: 16px; 
    -webkit-border-radius: 16px; 
    border-radius: 16px;
    height: 32px;
    margin: 2px;
    vertical-align: text-bottom;
    width: 32px;
	padding: 0px;
    border: 2px solid #84ab00;
	box-shadow: -5px 5px 5px rgba(182, 182, 182, 0.75);
	-o-box-shadow: -5px 5px 5px rgba(182, 182, 182, 0.75);
	-moz-box-shadow: -5px 5px 5px rgba(182, 182, 182, 0.75);
	-webkit-box-shadow: -5px 5px 5px rgba(182, 182, 182, 0.75);
	background: none repeat scroll 0 0 #ffffff;
}
.PhotoGridSmall {
    line-height: 1;
    margin: 8px -1px;
    padding: 0 0 15px 15px;
}
.advertSkin img {
	width: 468px;
	height: 60px;
	position: absolute !important;
	top: 10px !important;
	right: 10px;
	background: #666666;
	border: 1px solid #666;
	border-radius: 2px;
	}
.advertSkin img:hover{
	border: 1px dashed #84AB00;
	}
.footeradvertSkin img {
	width: 468px;
	height: 60px;
	position: absolute;
	left: 30px;
	top: 40px;
	background: #666666;
	border: 1px solid #666;
	}
.footeradvertSkin img:hover {
	border: 1px dashed #84AB00;
	}
	
/*
### Have fun with this theme...
### Tell us what you think: sales@vanillaskins.com
*/