
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Dashboard | Admin Panel</title>
	
	<link rel="stylesheet" href="{$static_url}/static/css/admin/jquery-ui-1.10.3.custom.min.css" type="text/css"/>
        <link rel="stylesheet" href="{$static_url}/static/css/admin/layout.css" type="text/css" media="screen" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="{$static_url}/static/js/jquery-1.9.1.js" type="text/javascript"></script>
        <script src="{$static_url}/static/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
	<script src="{$static_url}/static/js/hideshow.js" type="text/javascript"></script>
	<script src="{$static_url}/static/js/jquery.tablesorter.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="{$static_url}/static/js/jquery.equalHeight.js"></script>
	<script type="text/javascript">
	$(document).ready(function() 
    	{ 
      	  $(".tablesorter").tablesorter(); 
   	 } 
	);
	$(document).ready(function() {

	//When page loads...
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content

	//On Click scholar
	$("ul.tabs li").click(function() {

		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content

		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active ID content
		return false;
	});

});
    </script>
    <script type="text/javascript">
    $(function(){
        $('.column').equalHeight();
    });
</script>

</head>

<body>
    <header id="header">
            <hgroup>
                    <h1 class="site_title"><a href="{$static_url}/index.php/m_event/index/1">Website Admin</a></h1>
                    <h2 class="section_title">Dashboard</h2>
                    <div class="btn_view_site"><a href="../index.php">View Site</a></div>
            </hgroup>
    </header> <!-- end of header bar -->
    <section id="secondary_bar">
        <div class="user">
            <p>admin <!--(<a href="#">3 Messages</a>)--></p>
            <a class="logout_user" href="{$static_url}/index.php/m_login/logout/" title="Logout">Logout</a>
        </div>
        <div class="breadcrumbs_container">
            <article class="breadcrumbs">
                <a href="{$static_url}/index.php/m_event/index/1">Website Admin</a> 
                <div class="breadcrumb_divider"></div> 
                <a class="current">View Scholars</a>
            </article>
        </div>
    </section><!-- end of secondary bar -->
    <aside id="sidebar" class="column">
<!--
        <h3>Content</h3>
        <ul class="toggle">
            <li class="icn_new_article"><a href="#">Introduction Message</a></li>
            <li class="icn_edit_article"><a href="#">About Us</a></li>
        </ul>
-->
        <h3>Events</h3>
        <ul class="toggle">
            <li class="icn_categories"><a href="{$static_url}/index.php/m_event/add/" >Add Event</a></li>
            <li class="icn_edit_article"><a href="{$static_url}/index.php/m_event/index/1" >View Events</a></li>
        </ul>
        <h3>Users</h3>
        <ul class="toggle">
            <li class="icn_add_user"><a href="{$static_url}/index.php/m_user/add/" >Add New User</a></li>
            <li class="icn_view_users"><a href="{$static_url}/index.php/m_user/index/1" >View Users</a></li>
        </ul>
        <h3>Scholars</h3>
        <ul class="toggle">
            <li class="icn_new_article"><a href="{$static_url}/index.php/m_scholar/add/" >Add Scholar</a></li>
            <li class="icn_edit_article"><a href="{$static_url}/index.php/m_scholar/index/1" >View Scholars</a></li>
        </ul>
        <h3>Libraries</h3>
        <ul class="toggle">
                <li class="icn_folder"><a href="{$static_url}/index.php/m_lib/add/">Add Library</a></li>
                <li class="icn_photo"><a href="{$static_url}/index.php/m_lib/index/1">View Libraries</a></li>
        </ul>
		<h3>News</h3>
        <ul class="toggle">
            <li class="icn_new_article"><a href="{$static_url}/index.php/m_news/add/" >Add News</a></li>
            <li class="icn_edit_article"><a href="{$static_url}/index.php/m_news/index/1" >View News</a></li>
        </ul>
		<h3>Calendar</h3>
        <ul class="toggle">
            <li class="icn_new_article"><a href="{$static_url}/index.php/m_calendar/index/" >Set Calendar</a></li>
        </ul>
        <h3>Admin</h3>
        <ul class="toggle">
            <li class="icn_jump_back"><a href="{$static_url}/index.php/m_login/logout/">Logout</a></li>
        </ul>

        <footer>
                <hr />
                <p><strong>Copyright &copy; 2014 Islamic Scholars</strong></p>
                <p>Developed by <a href="http://www.yoteyote.com">Yoteyote</a></p>
        </footer>
</aside><!-- end of sidebar -->    <section id="main" class="column">		
                <div class="clear"></div>
        <article class="module width_full">
            <header>
                <h3 class="tabs_involved">Manage Scholars</h3>
                <ul class="tabs">
                    <li><a href="#tab1">Scholars</a></li>
		</ul>
            </header>
            <div class="tab_container">
                <div id="tab1" class="tab_content">
                    <table class="tablesorter" cellspacing="0"> 
			<thead> 
                            <tr> 
                            <th>No.</th> 
                            <th>Name</th> 
                            <th>Birth Day</th> 
                            <th>Actions</th> 
                            </tr> 
			</thead> 
			<tbody> 
                {foreach name=outer item=value from=$scholar_lst} 
                            
                                        <tr>
                                            <td>{$no++} </td>
                                            <td>{$value.sclar_name}</td>
                                            <td>{$value.sclar_birth}</td>
                                             <td>
                                                <a href='{$static_url}/index.php/m_scholar/edit/98a7s9dfasdf987{$value.sclar_id}23asdf3sd0' class='edit'><input type='image'src='{$static_url}/static/images/admin/icn_edit_article.png' title='Edit'></a>
                                                <a href='{$static_url}/index.php/m_scholar/delete/6a1sd6f1a161{$value.sclar_id}768asdf68' class='delete'><input type='image'src='{$static_url}/static/images/admin/icn_trash.png' title='Trash'></a>
                                            </td>
                                        </tr>
                                       
                  {/foreach}

                                        			</tbody> 
                    </table>
                </div><!-- end of #tab2 -->	
            </div><!-- end of .tab_container -->		
        </article><!-- end of content manager article -->
    <div class="spacer" align="right" style="margin-right:30px; margin-top:10px">
    {$scholar_page}
    </div>
    </section>
    <script type="text/javascript">
        $('.delete').click(function(){
            if(confirm('Are you sure you want to delete?') == true)
            {
                return true;
            }
            else
            {
                return false;
            }
        });
    </script>
</body>
</html>
