<div id='calendar' class='span3'>
    <span class="blacktext_16" style="margin-left:20px; margin-top:10px;">Hijri Calendar</span>
    <span style="clear:left; float:left; margin-left:20px; margin-top:5px;"><img src="{$static_url}/static/images/13_img.gif" /></span>
    <span class="blacktext_16" style="margin-left:10px; margin-top:10px; letter-spacing:-0.03em">Rabiu’Thani 1434</span>
    <div style="clear:both; float:left; margin-left:5px; margin-top:10px">
        <table cellspacing="0">
            <tr height="30" style="font-family:'Myriad Pro'; font-size:16; color:#333">
                <th width="40" scope="col">Mn</th>
                <th width="40" scope="col">Tu</th>
                <th width="40" scope="col">We</th>
                <th width="40" scope="col">Th</th>
                <th width="40" scope="col">Fr</th>
                <th width="40" scope="col">Sa</th>
                <th width="40" scope="col">Su</th>                                
            </tr>
            <tr align="center" style="font-family:'Myriad Pro'; font-size:16; color:#333">
                <td></td><td></td><td></td><td></td><td></td><td></td><td>1</td>
            </tr>
            <tr align="center" style="font-family:'Myriad Pro'; font-size:16; color:#333">
                <td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td>
            </tr>
            <tr align="center" style="font-family:'Myriad Pro'; font-size:16; color:#333">
                <td>9</td><td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td>
            </tr>
            <tr align="center" style="font-family:'Myriad Pro'; font-size:16; color:#333">
                <td>16</td><td>17</td><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td>
            </tr>
            <tr align="center" style="font-family:'Myriad Pro'; font-size:16; color:#333">
                <td>23</td><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td>
            </tr>
            <tr align="center" style="font-family:'Myriad Pro'; font-size:16; color:#333">
                <td>30</td><td>31</td><td></td><td></td><td></td><td></td><td></td>
            </tr>
        </table>
    </div>
</div><!-- calendar -->