{include file='header_tag.htm'}
    <body>
        <div class='container'>
            <div class='row'>
				{include file='calendar.htm'}
                <div id='header'class='span6'>
                    <div id='row'>
                        <div class='span6 offset3'>
                            <div id='register_now'>Don't have an account? <a href='{$static_url}/index.php/index/register'>Register Now</a></div><!-- register_now -->
                            <div id="login_form">
								<div id="signin" style="display:{if $islogin eq '1'}none{else}block{/if}">
                                    <form class="form-inline">
                                        <input type="email" id="log_email" class="input-medium" placeholder="Email">
                                        <input type="password" id="log_pass" class="input-medium" placeholder="Password">
                                        <button type="button" class="btn btn-success" onClick="login('{$static_url}');">Sign in</button>
                                    </form>
                                </div>
                                <div id="signout" style="display:{if $islogin eq '1'}block{else}none{/if}">
                                		<span style="color:#999">Hello <span id="span_login_user">{$user_name}</span>!</span>
                                        <button type="button" class="btn btn-success" onClick="logout('{$static_url}');">Sign out</button>
                                </div>
                            </div><!-- login_form --> 
                        </div>
                    </div>
                    <div id='green_strip'></div><!-- green_strip -->
                    <h3 class='span8 offset1'>The Foundation of Sheikhs and Islamic Scholars of Tanzania</h3>
                    <div id='logo'><img src='{$static_url}/static/images/logo.png' alt='logo' width='120'/></div><!-- logo -->
                    <button class="btn btn-large btn-warning span2 offset7" type="button">Donate Now</button>
                    <div id='nav' class="nav nav-tabs span7 lead">
                            <li {if $menu eq '1'} class="active" {/if}><a href="{$static_url}/">Home</a></li>
                            <li {if $menu eq '2'} class="active" {/if}><a href="#">About Us</a></li>
                            <li {if $menu eq '3'} class="active" {/if}><a href="{$static_url}/index.php/scholar/index">Imams & Scholars</a></li>
                            <li {if $menu eq '4'} class="active" {/if}><a href="{$static_url}/index.php/event/index">Events</a></li>
                            <li {if $menu eq '5'} class="active" {/if}><a href="#">Library</a></li>
                            <li {if $menu eq '6'} class="active" {/if}><a href="#">Contact Us</a></li>
                    </div><!-- nav -->
                </div><!-- header -->
            </div><!-- row [top_content] -->