<div class="row">
                <div class='span3' id='left_pane'>
                    <h5>Latest News</h5>
                    <ul class='unstyled'>
					{foreach name=outer item=value from=$news_list} 
                        <li><a href="#"><i class="icon-play"></i> {$value.news_title}</a></li>
					{/foreach}
                    </ul>
                    <h5>Upcoming Events</h5>
                    <ul class='unstyled'>
					{foreach name=outer item=value from=$event_list} 
                        <li><a href="#"><i class="icon-play"></i> {$value.evt_title} </a></li>
					{/foreach}
                    </ul>
                    
                    <h5>New Articles</h5>
                    <ul class='unstyled'>
                        <li><a href="#"><i class="icon-play"></i>Marriage and Divorces</a></li>
                        <li><a href="#"><i class="icon-play"></i> Two</a></li>
                        <li><a href="#"><i class="icon-play"></i> Three</a></li>
                        <li><a href="#"><i class="icon-play"></i> Four</a></li>
                        <li><a href="#"><i class="icon-play"></i> Five</a></li>
                    </ul>
                    
                    <h5>Quick Contacts</h5>
                        <address>
                            Lumumba bla bla bal<br>
                            Pale pale<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
     
                        <address>
                            Sheikh Khamis Mataka<br>
                            <a href="mailto:#">info@islamicscholars.com</a>
                        </address>
                    
                    <h5>Join Our Newsletter</h5>
                        <div class="input-append">
                            <input class="span2" id="appendedInputButton" type="text">
                            <button class="btn btn-success" type="button">Join</button>
                        </div>
                </div><!-- left_pane -->