<div id='sponsors'>
                <div class='row'>
                    <div class='span12'>
                        <div class='msg_body'>
                            <h6>Sponsors <h6/>
                            <img src='{$static_url}/static/images/amana_bank.gif' alt='Amana Bank' />
                            <img src='{$static_url}/static/images/iou.gif' alt='Amana Bank' />
                            <img src='{$static_url}/static/images/hajjtrust.gif' alt='Amana Bank' />
                            <img src='{$static_url}/static/images/samssuper.gif' alt='Amana Bank' />
                        </div><!-- msg_body -->
                    </div>
                </div>
            </div><!-- sponsors -->
        </div><!-- container -->
    </body>
</html>
