div.sort {
    margin: 10px 20px 0 0;
}
form {position:relative;width:980px;}
#mapcanvas {
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    float: left;
    height: 460px;
    right: 0px;
    top: -70px;
    padding: 5px;
    position: absolute;
    width: 300px;
}
.direction-sub-title {
    color: #777777;
    font-size: 14px;
    font-weight: 400 !important;
    margin-bottom: 4px !important;
}
.clear {
    clear: both;
}
.left {
    float: left;
}
.location_img {
    float: right;
    left: 260px;
    position: absolute;
    top: 166px;
}
.contacttext {width:590px;}